.user {
  background-color: #fff;
  height: 100%;
  margin-top: 12px;
  margin-bottom: 100px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    width: 100%;
    background-image: url(../../bg_images/UserPage/headPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 75px;
  }

  &__avatar {
    transform: translateY(50%);
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  &__title {
    font-size: 36px;
    line-height: 45px;
    color: #252733;
    text-align: center;
    margin-bottom: 0;

    &-text {
      font-size: 24px;
      line-height: 30px;
      color: #797A84;
      text-align: center;
      margin: 0;
    }
  }

  &__info {
    padding-left: 12px;

    &-kind {
      font-size: 36px;
      font-weight: 700;
      margin: 0;
    }

    &-detail {
      margin: 0;
    }
  }
}
