@import '../../utils';

.header {
  background-color: #DDE2FF;

  &__top {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px 0;

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #252733;
      margin: 0;
    }

    &-icons {
      display: flex;
      align-items: center;

      &-search {
        height: 16px;
        width: 14px;
        background-image: url(../../bg_images/header/pngegg.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

      &-bell {
        height: 16px;
        width: 14px;
        background-image: url(../../bg_images/header/dot.png) , url(../../bg_images/header/Bell.png);
        background-size: 6px, contain;
        background-repeat: no-repeat;
        background-position: right top, center;
        margin-left: 26px;
      }

      &-line {
        height: 32px;
        width: 1px;
        background-color: gray;
        margin-left: 32px;
      }

      &-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #252733;
        margin: 0 0 0 32px;
      }

      &-avatar {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-image: url(../../bg_images/users/1.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 14px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 126px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    margin-top: 30px;
    transition: all 0.3s;

    @include onDesktop {
      width: 226px;
      height: 100px;
    }

    &:hover {
      border-color: #3751FF;
      cursor: pointer;
    }

    &:hover  .header__button-text {
      color: #3751FF;
      cursor: pointer;
    }

    &:hover .header__button-number {
      border-color: #3751FF;
      color: #3751FF;
      cursor: pointer;
    }

    &-text {
      font-size: 17px;
      font-weight: 700;
      color: #9FA2B4;
      transition: all 0.3s;

      @include onDesktop {
        font-size: 19px;
      }

      &:hover {
        color: #3751FF;
      }
    }

    &-number {
      font-size: 28px;
      font-weight: 700;
      color: #252733;
      transition: all 0.3s;

      @include onDesktop {
        font-size: 40px;
      }
    }
  }
}
