@import '../../utils';

.sidebar {

  &__link {
    text-decoration: none;
  }

  &__title {
    display: flex;
    align-items: center;
    padding-top: 36px;
    margin-left: 12px;
    margin-bottom: 40px;

    @include onTablet {
      margin-left: 32px;
      margin-bottom: 80px;
    }

    &-text {
      font-size: 17px;
      line-height: 20px;
      font-weight: 700;
      color: #A4A6B3;

      @include onTablet {
        font-size: 19px;
        line-height: 24px;
      }
    }

    &-img {
      height: 24px;
      width: 24px;
      background-image: url(../../bg_images/icons/D.png), url(../../bg_images/icons/EllipseUp.png);
      background-size: 12px 14px, contain;
      background-repeat: no-repeat;
      background-position: center, center;
      margin-right: 12px;

      @include onTablet {
        height: 32px;
        width: 32px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 56px;
    border-left: 3px solid transparent;
    color: #A4A6B3;
    padding-left: 12px;
    transition: all 0.3s;

    @include onTablet {
      padding-left: 32px;
    }

    &:hover {
      border-color: #DDE2FF;
      background-color: #9fA2B4;
      color: #363740;
      cursor: pointer;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    &-overview {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Overv.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-users {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Users.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-ideas {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Ideas.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-contacts {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Contacts.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-agents {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Agents.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-articles {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Aticles.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-divider {
      height: 1px;
      background-color: #A4A6B3;
      margin: 10px 0;
    }

    &-settings {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Setting.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }

    &-subscription {
      height: 16px;
      width: 16px;
      background-image: url(../../bg_images/icons/Subscription.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 24px;
    }
  }
}
